name: Increment Version and Tag

on:
  - push
  - workflow_dispatch
  - workflow_call

jobs:
  increment-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true


      - name: Get current version from CHANGELOG.md
        id: get_version
        run: |
          VERSION=$(grep -oP '(?<=^## \[)\d+\.\d+\.\d+(?=\])' CHANGELOG.md | head -n 1)
          echo "Current version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_ENV