name: "Prepare for Develop"

on:
  pull_request: 
    types:
      - synchronize
      - opened

jobs:
  unit-tests:
    uses: ./.github/workflows/UnitTests.yml

  build-project:
    needs: unit-tests
    uses: ./.github/workflows/BuildGame.yml
    